.modal-countdown {
  position: fixed;
  right: 1rem;
  top: 7rem;
  z-index: 750;
  -webkit-backdrop-filter: blur(1.2rem);
  backdrop-filter: blur(1.2rem);
  background-color: hsla(0, 0%, 8%, 0.2);
  border-radius: 0.6rem;
  min-width: 12rem;
  padding: 1.3rem 2.1rem 1.2rem 1.3rem;
  color: $light-color;
  transform: translateX(calc(100% + 2rem));
  transition: transform 1.4s cubic-bezier(0.22, 1, 0.36, 1);

  &.modal-countdown--visible {
    transform: translate(0, 0);
  }

  .modal-countdown__title {
    padding-bottom: 1rem;
    color: $light-color;
  }

  .countdown {
    display: flex;
    flex-wrap: wrap;
    gap: 1.7rem;
    justify-content: center;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;

    .countdown__unit-wrapper {
      display: flex;
    }
  }

  .modal-countdown__btn {
    position: absolute;
    right: 1.1rem;
    top: 1.1rem;
    display: flex;
    height: 1.3rem;
    width: 1.3rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      height: 0.1rem;
      width: 115%;
      background-color: $light-color;
      rotate: 45deg;
    }
    &::after {
      rotate: -45deg;
    }
  }
}

@include for-size("lg") {
  .modal-countdown {
    left: 1.2rem;
    right: auto;
    top: 1.2rem;
    transform: translateY(calc(-100% - 7rem));

    .countdown {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}
