.words-carousel {
  height: 400vh;
  .words-carousel__inner {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    perspective: 70rem;
    color: $light-color;
    .words-carousel__list {
      position: relative;
      height: 50vw;
      transform-origin: 50% 50%;
      transform-style: preserve-3d;
      width: 50vw;
      .words-carousel__item {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        white-space: nowrap;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        rotate: none;
        scale: none;
        transform-origin: 50% 50%;
        translate: -50% -50%;
        visibility: inherit;
        .words-carousel__item-words {
          position: relative;
          display: inline-block;
          rotate: none;
          scale: none;
          translate: none;
        }
      }
    }
  }
}

@include for-size("md") {
  .words-carousel {
    .words-carousel__inner {
      .words-carousel__list {
        .words-carousel__item {
          font-size: 15rem;
        }
      }
    }
  }
}
