.d-none {
  display: none;
}
.hidden {
  opacity: 0;
}

.p,
p {
  font-size: 1.8rem;
  line-height: 1;
}

.p2 {
  font-size: 1.4rem;
  line-height: 1;
}

.h1,
h1 {
  font-size: 6rem;
  line-height: 0.85;
}
.h2,
h2 {
  font-size: 5rem;
  line-height: 0.85;
}
.h3,
h3 {
  font-size: 2.4rem;
  line-height: 1.05;
}
.h4,
h4 {
  font-size: 2.2rem;
  line-height: 0.9;
}

.ttu {
  text-transform: uppercase;
}

.bg-light {
  background-color: $bg-light-color;
  color: $dark-color;
}

.btn {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 1rem 1.3rem 1.2rem;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
  }

  &.btn--dark {
    color: $light-color;
    &::before {
      z-index: 1;
      background-color: $accent-color;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: transform 0.6s cubic-bezier(1, 0, 0.25, 0.995);
    }
    &::after {
      background-color: $dark-color;
    }
  }
  &.btn--light {
    color: $dark-color;
    &::before {
      z-index: 1;
      background-color: $accent-color;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: transform 0.6s cubic-bezier(1, 0, 0.25, 0.995);
    }
    &::after {
      background-color: $light-color;
    }
  }

  .btn__label {
    position: relative;
    z-index: 2;
    display: flex;
    transition: transform 0.8s cubic-bezier(1, 0, 0.25, 0.995);
    &.btn__label--ghost {
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      color: $dark-color;
      white-space: nowrap;
      transform: translate(-50%, calc(-50% + 4rem));
    }
  }

  @include hover() {
    &::before {
      transform: scaleY(1);
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }

    .btn__label {
      transform: translateY(-4rem);
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      &.btn__label--ghost {
        transform: translate(-50%, -50%);
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0 1rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  width: 100%;
}
.base-image {
  display: block;
}
.base-image__img--fade {
  opacity: 0;
  transition: opacity 0.4s;
}
.base-image--fit {
  height: 100%;

  img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.base-image__img--loaded {
  opacity: 1;
}

.parallax-asset {
  height: 100%;
  overflow: hidden;
  width: 100%;
  &.parallax-asset--abs {
    position: absolute;
    left: 0;
    top: 0;
  }

  .parallax-asset__wrapper {
    border-radius: 0.5rem;
    height: 100%;
    left: 0;
    position: relative;
    width: 100%;

    img,
    video {
      border-radius: 0.5rem;
    }
  }
}

.base-video {
  display: flex;
  position: relative;
  &.base-video--fit {
    height: 100%;
    width: 100%;

    video {
      left: 0;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: 0;
    }
  }

  &.base-video--loaded {
    video {
      opacity: 1;
    }
  }
  video {
    height: 100%;
    opacity: 0;
    width: 100%;
    transition: opacity 0.4s;
  }
}

.text-splitter {
  display: block;
  opacity: 0;
  &.text-splitter--splitted {
    opacity: 1;
  }
}

.anim-text,
.text-splitter {
  perspective: 100rem;
}
.anim-fade {
  opacity: 0;
  transform: translateY(4rem);
  transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s linear;
}
.anim-square {
  transform: translateY(100%);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.anim-char {
  opacity: 0;
  transform: translateY(10rem) rotateX(-90deg);
  transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s linear;
}
.gradient-overlay {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    transition: transform 1s cubic-bezier(1, 0, 0.25, 0.995);
  }
  &.gradient-overlay--orange::after {
    background: linear-gradient(156.75deg, #ffa24d 1.34%, #ff2d52 120.85%);
  }
  &.gradient-overlay--pink::after {
    background: linear-gradient(156.75deg, #ff3d3d 1.35%, #ff47cc 114.4%);
  }
  &.gradient-overlay--purple::after {
    background: linear-gradient(156.75deg, #3788ff 1.44%, #982ced 94.35%);
  }
}
.is-visible {
  .anim-square {
    transform: translateY(0);
  }
  .anim-char {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }
  .anim-fade {
    opacity: 1;
    transform: translateY(0);
  }
  .gradient-overlay::after {
    transform: translateY(calc(100% + 0.1rem));
  }
}

@include for-size("lg") {
  .h1,
  h1 {
    font-size: 17.5rem;
    line-height: 1;
  }
  .h3,
  h3 {
    font-size: 3rem;
    line-height: 1.05;
  }
  .grid {
    grid-template-columns: repeat(12, 1fr);
    padding-left: 0.81081vw;
    padding-right: 0.81081vw;
    gap: 0 1.62162vw;
  }

  .parallax-asset {
    &.parallax-asset--abs {
      .parallax-asset__wrapper {
        position: absolute;
      }
    }

    .parallax-asset__wrapper {
      bottom: -10%;
      height: 120%;
      top: -10%;
    }
  }
}
