@import "all.scss";

body {
  background-color: rosybrown;
}

::selection {
  background-color: #0f0;
  color: #fff;
  text-shadow: none;
}

.content-wrapper {
  margin-top: 6rem;
  position: relative;
}

@include for-size("lg") {
  .content-wrapper {
    margin-right: 6rem;
    margin-top: 0;
  }
}
