@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");
:root {
  --font-size-body1: 16px;
  --font-size-body2: 12px;
  --font-size-h1: 48px;
  --font-size-h2: 40px;
  --font-size-h3: 24px;
  --font-size-st1: 64px;
  --font-size-st2: 56px;
  --font-size-st3: 48px;
  --font-size-st4: 32px;
  --font-size-st5: 24px;
  --font-size-st6: 16px;
  --font-size-btn: 16px;
  --font-size-link: 14px;
  --font-size-UI: 10px;
  --font-size-headUI: 22px;
}

@media screen and (min-width: 992px) {
  :root {
    --font-size-body1: 22px;
    --font-size-body2: 16px;
    --font-size-h1: 52px;
    --font-size-h2: 44px;
    --font-size-h3: 28px;
    --font-size-st1: 68px;
    --font-size-st2: 60px;
    --font-size-st3: 52px;
    --font-size-st4: 36px;
    --font-size-st5: 28px;
    --font-size-st6: 20px;
    --font-size-btn: 16px;
    --font-size-link: 14px;
    --font-size-UI: 14px;
    --font-size-headUI: 26px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: 500;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-size: var(--font-size-body2);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

html {
  font-size: 10px;
}

body {
  color: #141414;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 900;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 6rem;
  transform: translateY(-100%);
  transition: transform 1.6s cubic-bezier(0.22, 1, 0.36, 1);
}
.header .nav-toggle {
  position: relative;
  aspect-ratio: 1;
  background-color: #141414;
  height: 100%;
}
.header .nav-toggle .line {
  position: absolute;
  background-color: #ffffff;
  height: 0.1rem;
  width: 4.2rem;
  transform-origin: left;
  transition: transform 0.4s cubic-bezier(1, 0, 0.25, 0.995);
}
.header .nav-toggle .nav-toggle__burger .line {
  left: 0.9rem;
}
.header .nav-toggle .nav-toggle__burger :nth-child(1) {
  top: 1.8rem;
  transition-delay: 0.5s;
}
.header .nav-toggle .nav-toggle__burger :nth-child(2) {
  transition-delay: 0.6s;
}
.header .nav-toggle .nav-toggle__burger :nth-child(3) {
  bottom: 1.8rem;
  transition-delay: 0.7s;
}
.header .nav-toggle .nav-toggle__close .line {
  top: 25%;
  transform: scaleX(0);
}
.header .nav-toggle .nav-toggle__close :nth-child(1) {
  left: 25%;
  rotate: 45deg;
  transition-delay: 0.2s;
}
.header .nav-toggle .nav-toggle__close :nth-child(2) {
  left: 75%;
  rotate: 135deg;
  transition-delay: 0s;
}
.header .nav-toggle::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #00ff00;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s cubic-bezier(1, 0, 0.25, 0.995);
}
.header .nav-toggle.nav-toggle--close .nav-toggle__burger .line {
  transform: scaleX(0);
}
.header .nav-toggle.nav-toggle--close .nav-toggle__burger :nth-child(1) {
  transition-delay: 0s;
}
.header .nav-toggle.nav-toggle--close .nav-toggle__burger :nth-child(2) {
  transition-delay: 0.1s;
}
.header .nav-toggle.nav-toggle--close .nav-toggle__burger :nth-child(3) {
  transition-delay: 0.2s;
}
.header .nav-toggle.nav-toggle--close .nav-toggle__close .line {
  transform: scaleX(1);
}
.header .nav-toggle.nav-toggle--close .nav-toggle__close :nth-child(1) {
  transition-delay: 0.7s;
}
.header .nav-toggle.nav-toggle--close .nav-toggle__close :nth-child(2) {
  transition-delay: 0.5s;
}
@media (hover: hover) {
  .header .nav-toggle:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  .header .nav-toggle:hover .line {
    background-color: #141414;
  }
}
.header .header__title {
  position: relative;
  margin-left: 1.4rem;
  max-width: -moz-min-content;
  max-width: min-content;
}
.header .header__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1.4rem;
  top: 0;
  background-color: #141414;
  width: 0.2rem;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.4s cubic-bezier(1, 0, 0.25, 0.995);
}
@media (hover: hover) {
  .header .header__title:hover::before {
    transform: scaleY(1);
    transform-origin: top;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
}
.header .header-nav {
  display: none;
}
.header .header__language-selector {
  position: relative;
  margin-left: auto;
  margin-right: 1.4rem;
}
.header .header__language-selector::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #141414;
  height: 0.1rem;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.8s cubic-bezier(1, 0, 0.25, 0.995);
}
@media (hover: hover) {
  .header .header__language-selector:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
}
.header .tickets-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00ff00;
  height: 100%;
  width: 12.5rem;
  padding: 1.1rem;
  overflow: hidden;
  color: #141414;
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.header .tickets-toggle::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #141414;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s cubic-bezier(1, 0, 0.25, 0.995);
}
.header .tickets-toggle .tickets-toggle__label {
  position: absolute;
  max-width: -moz-min-content;
  max-width: min-content;
  text-align: left;
}
.header .tickets-toggle .tickets-toggle__label.tickets-toggle-labels-enter-active {
  transform: translateY(calc(-50% - 7rem)) rotate(60deg);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.header .tickets-toggle .tickets-toggle__label.tickets-toggle-labels-enter-to {
  transform: translateY(0%) rotate(0);
}
.header .tickets-toggle .tickets-toggle__label.tickets-toggle-labels-leave-active {
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.header .tickets-toggle .tickets-toggle__label.tickets-toggle-labels-leave-to {
  transform: translateY(350%) rotate(45deg);
}
.header .tickets-toggle .line {
  position: absolute;
  height: 0.1rem;
  width: 2rem;
  background-color: #141414;
  transform-origin: left;
  transition: transform 0.4s cubic-bezier(1, 0, 0.25, 0.995);
}
.header .tickets-toggle .tickets-toggle__arrow {
  position: absolute;
  top: 1.1rem;
  right: 1.1rem;
  height: 2rem;
  width: 2rem;
}
.header .tickets-toggle .tickets-toggle__arrow .line {
  top: 0;
}
.header .tickets-toggle .tickets-toggle__arrow :nth-child(1) {
  transition-delay: 0.5s;
}
.header .tickets-toggle .tickets-toggle__arrow :nth-child(2) {
  left: 2rem;
  rotate: 90deg;
  transition-delay: 0.6s;
}
.header .tickets-toggle .tickets-toggle__arrow :nth-child(3) {
  left: 2rem;
  width: 2.8rem;
  rotate: 135deg;
  transition-delay: 0.7s;
}
.header .tickets-toggle .tickets-toggle__close {
  position: absolute;
  right: 1.1rem;
  height: 2rem;
  width: 2rem;
}
.header .tickets-toggle .tickets-toggle__close .line {
  top: 0%;
  width: 2.8rem;
  transform: scaleX(0);
}
.header .tickets-toggle .tickets-toggle__close :nth-child(1) {
  rotate: 45deg;
  transition-delay: 0.2s;
}
.header .tickets-toggle .tickets-toggle__close :nth-child(2) {
  left: 100%;
  rotate: 135deg;
  transition-delay: 0s;
}
.header .tickets-toggle.tickets-toggle--close .tickets-toggle__arrow .line {
  transform: scaleX(0);
}
.header .tickets-toggle.tickets-toggle--close .tickets-toggle__arrow :nth-child(1) {
  transition-delay: 0.4s;
}
.header .tickets-toggle.tickets-toggle--close .tickets-toggle__arrow :nth-child(2) {
  transition-delay: 0.2s;
}
.header .tickets-toggle.tickets-toggle--close .tickets-toggle__arrow :nth-child(3) {
  transition-delay: 0s;
}
.header .tickets-toggle.tickets-toggle--close .tickets-toggle__close .line {
  transform: scaleX(1);
}
.header .tickets-toggle.tickets-toggle--close .tickets-toggle__close :nth-child(1) {
  transition-delay: 0.6s;
}
.header .tickets-toggle.tickets-toggle--close .tickets-toggle__close :nth-child(2) {
  transition-delay: 0.8s;
}
@media (hover: hover) {
  .header .tickets-toggle:hover {
    color: #ffffff;
  }
  .header .tickets-toggle:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  .header .tickets-toggle:hover .line {
    background-color: #ffffff;
  }
}
.header.header--visible {
  transform: translateY(0%);
}

.nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 6rem;
  z-index: 800;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: calc(100dvh - 6rem);
  padding: 0.5rem;
}
.nav.nav--open {
  pointer-events: all;
}
.nav.nav-enter-active .nav-wrapper {
  transform: translateX(calc(100% + 0.5rem));
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.nav.nav-enter-active .nav-wrapper:nth-child(1) {
  transition-delay: 0.06s;
}
.nav.nav-enter-active .nav-wrapper:nth-child(2) {
  transition-delay: 0.12s;
}
.nav.nav-enter-active .nav-wrapper:nth-child(3) {
  transition-delay: 0.18s;
}
.nav.nav-enter-to .nav-wrapper {
  transform: translateX(0);
}
.nav.nav-leave-active .nav-wrapper {
  transition: transform 0.9s cubic-bezier(1, 0, 0.25, 0.995);
}
.nav.nav-leave-active .nav-wrapper:nth-child(3) {
  transition-delay: 0.06s;
}
.nav.nav-leave-active .nav-wrapper:nth-child(2) {
  transition-delay: 0.12s;
}
.nav.nav-leave-active .nav-wrapper:nth-child(1) {
  transition-delay: 0.18s;
}
.nav.nav-leave-to .nav-wrapper:nth-child(1) {
  transform: translateX(0) translateY(100vh) rotate(24deg);
}
.nav.nav-leave-to .nav-wrapper:nth-child(2) {
  transform: translateX(0) translateY(100vh) rotate(-24deg);
}
.nav.nav-leave-to .nav-wrapper:nth-child(3) {
  transform: translateX(0) translateY(100vh) rotate(24deg);
}
.nav .nav-wrapper {
  display: flex;
  border-radius: 0.5rem;
}
.nav .nav-wrapper .nav__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav .nav-wrapper .nav__list .nav-item {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.nav .nav-wrapper .nav__list .nav-item.nav-item--arrow-hover {
  transition: transform 0.4s cubic-bezier(1, 0, 0.25, 0.995);
}
.nav .nav-wrapper .nav__list .nav-item.nav-item--arrow-hover .arrow-hover {
  position: absolute;
  height: 2.1rem;
  aspect-ratio: 1;
  transform: translateX(-3rem);
  transition: transform 0.4s cubic-bezier(1, 0, 0.25, 0.995);
}
.nav .nav-wrapper .nav__list .nav-item.nav-item--arrow-hover .arrow-hover .line {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  height: 0.1rem;
  background-color: #141414;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.4s cubic-bezier(1, 0, 0.25, 0.995);
  transition-delay: 0.1s;
}
.nav .nav-wrapper .nav__list .nav-item.nav-item--arrow-hover .arrow-hover .line:nth-child(2) {
  width: 75%;
  top: 0%;
  right: -25%;
  rotate: 45deg;
  transition-delay: 0.3s;
}
.nav .nav-wrapper .nav__list .nav-item.nav-item--arrow-hover .arrow-hover .line:nth-child(3) {
  width: 75%;
  right: -75%;
  rotate: -225deg;
  transition-delay: 0.5s;
}
@media (hover: hover) {
  .nav .nav-wrapper .nav__list .nav-item.nav-item--arrow-hover:hover .arrow-hover {
    transform: translateX(0);
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  .nav .nav-wrapper .nav__list .nav-item.nav-item--arrow-hover:hover .arrow-hover .line {
    transform: scaleX(1);
  }
  .nav .nav-wrapper .nav__list .nav-item.nav-item--arrow-hover:hover .nav-item__label {
    transform: translateX(3rem);
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
}
@media (hover: hover) {
  .nav .nav-wrapper .nav__list .nav-item.nav-item--fade-hover:hover .nav-item__label {
    opacity: 0.5;
  }
}
.nav .nav-wrapper .nav__list .nav-item .nav-item__label {
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.4s cubic-bezier(1, 0, 0.25, 0.995);
}
.nav .nav-wrapper .nav__wrapper-row {
  display: flex;
}
.nav .nav-wrapper.nav-wrapper--main, .nav .nav-wrapper.nav-wrapper--alt {
  flex: 1;
  background-color: #ffffff;
  padding: 2rem 1.3rem;
}
.nav .nav-wrapper.nav-wrapper--main .nav__list {
  gap: 1.2rem;
}
.nav .nav-wrapper.nav-wrapper--alt {
  flex-direction: column;
}
.nav .nav-wrapper.nav-wrapper--alt .nav__list {
  flex: 1;
  gap: 1rem;
}
.nav .nav-wrapper.nav-wrapper--tickets {
  display: none;
  height: 15.7rem;
  background-color: #00ff00;
}
.nav .nav-wrapper.nav-wrapper--tickets .nav-tickets-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  padding: 1.6rem;
}
.nav .nav-wrapper.nav-wrapper--tickets .nav-tickets-btn .nav-tickets-btn__arrow-wrapper {
  position: relative;
  height: 100%;
  aspect-ratio: 1;
}
.nav .nav-wrapper.nav-wrapper--tickets .nav-tickets-btn .nav-tickets-btn__arrow-wrapper.nav-tickets-hover-enter-active {
  opacity: 0;
  transform: translate(-100%, 100%);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.nav .nav-wrapper.nav-wrapper--tickets .nav-tickets-btn .nav-tickets-btn__arrow-wrapper.nav-tickets-hover-enter-to {
  opacity: 1;
  transform: translate(0);
}
.nav .nav-wrapper.nav-wrapper--tickets .nav-tickets-btn .nav-tickets-btn__arrow-wrapper.nav-tickets-hover-leave-active {
  transition: transform 0.5s cubic-bezier(1, 0, 0.25, 0.995), opacity 0.35s linear;
}
.nav .nav-wrapper.nav-wrapper--tickets .nav-tickets-btn .nav-tickets-btn__arrow-wrapper.nav-tickets-hover-leave-to {
  opacity: 0;
  transform: translate(100%, -100%);
}
.nav .nav-wrapper.nav-wrapper--tickets .nav-tickets-btn .nav-tickets-btn__arrow-wrapper .line {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 0.1rem;
  background-color: #141414;
  transform-origin: right;
}
.nav .nav-wrapper.nav-wrapper--tickets .nav-tickets-btn .nav-tickets-btn__arrow-wrapper .line:nth-child(2) {
  rotate: -90deg;
}
.nav .nav-wrapper.nav-wrapper--tickets .nav-tickets-btn .nav-tickets-btn__arrow-wrapper .line:nth-child(3) {
  width: 17.5rem;
  rotate: -45deg;
}

.tickets-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 6rem;
  z-index: 800;
  height: calc(100dvh - 6rem);
}
.tickets-nav.nav--open {
  pointer-events: all;
}
.tickets-nav.nav-enter-active .tickets-nav__item {
  transform: translateX(calc(100% + 0.5rem));
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.tickets-nav.nav-enter-active .tickets-nav__item:nth-child(1) {
  transition-delay: 0.06s;
}
.tickets-nav.nav-enter-active .tickets-nav__item:nth-child(2) {
  transition-delay: 0.12s;
}
.tickets-nav.nav-enter-active .tickets-nav__item:nth-child(3) {
  transition-delay: 0.18s;
}
.tickets-nav.nav-enter-to .tickets-nav__item {
  transform: translateX(0);
}
.tickets-nav.nav-leave-active .tickets-nav__item {
  transition: transform 0.9s cubic-bezier(1, 0, 0.25, 0.995);
}
.tickets-nav.nav-leave-active .tickets-nav__item:nth-child(3) {
  transition-delay: 0.06s;
}
.tickets-nav.nav-leave-active .tickets-nav__item:nth-child(2) {
  transition-delay: 0.12s;
}
.tickets-nav.nav-leave-active .tickets-nav__item:nth-child(1) {
  transition-delay: 0.18s;
}
.tickets-nav.nav-leave-to .tickets-nav__item:nth-child(1) {
  transform: translateX(0) translateY(100vh) rotate(24deg);
}
.tickets-nav.nav-leave-to .tickets-nav__item:nth-child(2) {
  transform: translateX(0) translateY(100vh) rotate(-24deg);
}
.tickets-nav.nav-leave-to .tickets-nav__item:nth-child(3) {
  transform: translateX(0) translateY(100vh) rotate(24deg);
}
.tickets-nav .tickets-nav__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  height: 100%;
}
.tickets-nav .tickets-nav__list .tickets-nav__item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffffff;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 2rem 1.3rem;
}
.tickets-nav .tickets-nav__list .tickets-nav__item .tickets-nav__item-title {
  padding-bottom: 1.8rem;
}
.tickets-nav .tickets-nav__list .tickets-nav__item .tickets-nav__item-copy {
  color: #999;
  max-width: 34rem;
}
.tickets-nav .tickets-nav__list .tickets-nav__item .tickets-nav__item-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}
.tickets-nav .tickets-nav__list .tickets-nav__item .tickets-nav__item-footer .tickets-nav__item-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tickets-nav .tickets-nav__list .tickets-nav__item .tickets-nav__item-footer .tickets-nav__item-inner .tickets-nav__item-price.tickets-nav__item-price--old {
  display: flex;
  margin-top: 0.3rem;
  position: relative;
  text-decoration: line-through;
}

@media screen and (min-width: 992px) {
  .header {
    left: auto;
    flex-direction: column;
    height: 100vh;
    width: 6rem;
    transform: translateX(100%);
  }
  .header .nav-toggle {
    width: 100%;
    height: auto;
  }
  .header .header__title {
    position: relative;
    margin-left: 0;
    margin-top: 1.4rem;
    max-height: -moz-min-content;
    max-height: min-content;
    writing-mode: vertical-rl;
  }
  .header .header__title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -1.4rem;
    top: 0;
    background-color: #141414;
    width: 0.2rem;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.4s cubic-bezier(1, 0, 0.25, 0.995);
  }
}
@media screen and (min-width: 992px) and (hover: hover) {
  .header .header__title:hover::before {
    transform: scaleY(1);
    transform-origin: top;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
}
@media screen and (min-width: 992px) {
  .header .header-nav {
    display: flex;
    margin-bottom: 7rem;
    margin-top: auto;
    writing-mode: vertical-rl;
  }
  .header .header-nav .header-nav__list {
    display: flex;
    gap: 3.4rem;
  }
  .header .header-nav .header-nav__list .header-nav-item {
    max-height: -moz-min-content;
    max-height: min-content;
    position: relative;
  }
  .header .header-nav .header-nav__list .header-nav-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -1.4rem;
    top: 0;
    background-color: #141414;
    width: 0.2rem;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.4s cubic-bezier(1, 0, 0.25, 0.995);
  }
}
@media screen and (min-width: 992px) and (hover: hover) {
  .header .header-nav .header-nav__list .header-nav-item:hover::before {
    transform: scaleY(1);
    transform-origin: top;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
}
@media screen and (min-width: 992px) {
  .header .header__language-selector {
    position: relative;
    margin: 0 auto 3rem;
  }
  .header .tickets-toggle {
    flex-direction: column;
    height: 16rem;
    width: 100%;
  }
  .header .tickets-toggle .tickets-toggle__label {
    max-height: -moz-min-content;
    max-height: min-content;
    writing-mode: vertical-rl;
  }
  .header .tickets-toggle .tickets-toggle__label.tickets-toggle-labels-enter-active {
    transform: translateX(calc(-50% - 7rem)) rotate(60deg);
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .header .tickets-toggle .tickets-toggle__label.tickets-toggle-labels-enter-to {
    transform: translateX(0%) rotate(0);
  }
  .header .tickets-toggle .tickets-toggle__label.tickets-toggle-labels-leave-active {
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .header .tickets-toggle .tickets-toggle__label.tickets-toggle-labels-leave-to {
    transform: translateX(350%) rotate(45deg);
  }
  .header .tickets-toggle .tickets-toggle__arrow {
    bottom: 1.1rem;
    top: auto;
  }
  .header .tickets-toggle .tickets-toggle__close {
    bottom: 1.1rem;
    right: auto;
  }
  .nav {
    height: 100vh;
    left: auto;
    right: 6rem;
    top: 0;
    gap: 0.3rem;
    padding: 0.3rem;
  }
  .nav .nav-wrapper.nav-wrapper--tickets {
    display: flex;
  }
  .tickets-nav {
    height: 100vh;
    left: auto;
    right: 6rem;
    top: 0;
  }
  .tickets-nav .tickets-nav__list {
    gap: 0.3rem;
    padding: 0.3rem;
  }
  .tickets-nav .tickets-nav__list .tickets-nav__item {
    min-width: 47.2rem;
  }
}
.modal-countdown {
  position: fixed;
  right: 1rem;
  top: 7rem;
  z-index: 750;
  -webkit-backdrop-filter: blur(1.2rem);
  backdrop-filter: blur(1.2rem);
  background-color: hsla(0, 0%, 8%, 0.2);
  border-radius: 0.6rem;
  min-width: 12rem;
  padding: 1.3rem 2.1rem 1.2rem 1.3rem;
  color: #ffffff;
  transform: translateX(calc(100% + 2rem));
  transition: transform 1.4s cubic-bezier(0.22, 1, 0.36, 1);
}
.modal-countdown.modal-countdown--visible {
  transform: translate(0, 0);
}
.modal-countdown .modal-countdown__title {
  padding-bottom: 1rem;
  color: #ffffff;
}
.modal-countdown .countdown {
  display: flex;
  flex-wrap: wrap;
  gap: 1.7rem;
  justify-content: center;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}
.modal-countdown .countdown .countdown__unit-wrapper {
  display: flex;
}
.modal-countdown .modal-countdown__btn {
  position: absolute;
  right: 1.1rem;
  top: 1.1rem;
  display: flex;
  height: 1.3rem;
  width: 1.3rem;
}
.modal-countdown .modal-countdown__btn::before, .modal-countdown .modal-countdown__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 0.1rem;
  width: 115%;
  background-color: #ffffff;
  rotate: 45deg;
}
.modal-countdown .modal-countdown__btn::after {
  rotate: -45deg;
}

@media screen and (min-width: 992px) {
  .modal-countdown {
    left: 1.2rem;
    right: auto;
    top: 1.2rem;
    transform: translateY(calc(-100% - 7rem));
  }
  .modal-countdown .countdown {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.d-none {
  display: none;
}

.hidden {
  opacity: 0;
}

.p,
p {
  font-size: 1.8rem;
  line-height: 1;
}

.p2 {
  font-size: 1.4rem;
  line-height: 1;
}

.h1,
h1 {
  font-size: 6rem;
  line-height: 0.85;
}

.h3,
h3 {
  font-size: 2.4rem;
  line-height: 1.05;
}

.h4,
h4 {
  font-size: 2.2rem;
  line-height: 0.9;
}

.ttu {
  text-transform: uppercase;
}

.bg-white {
  background-color: #ffffff;
}

.btn {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 1rem 1.3rem 1.2rem;
}
.btn::before, .btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
}
.btn.btn--dark {
  color: #ffffff;
}
.btn.btn--dark::before {
  z-index: 1;
  background-color: #00ff00;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.6s cubic-bezier(1, 0, 0.25, 0.995);
}
.btn.btn--dark::after {
  background-color: #141414;
}
.btn .btn__label {
  position: relative;
  z-index: 2;
  display: flex;
  transition: transform 0.8s cubic-bezier(1, 0, 0.25, 0.995);
}
.btn .btn__label.btn__label--ghost {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  color: #141414;
  white-space: nowrap;
  transform: translate(-50%, calc(-50% + 4rem));
}
@media (hover: hover) {
  .btn:hover::before {
    transform: scaleY(1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  .btn:hover .btn__label {
    transform: translateY(-4rem);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  .btn:hover .btn__label.btn__label--ghost {
    transform: translate(-50%, -50%);
  }
}

.text-splitter {
  display: block;
  opacity: 0;
}
.text-splitter.text-splitter--splitted {
  opacity: 1;
}

.anim-fade {
  opacity: 0;
  transform: translateY(4rem);
  transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s linear;
}

.anim-square {
  transform: translateY(100%);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.anim-char {
  opacity: 0;
  transform: translateY(10rem) rotateX(-90deg);
  transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s linear;
}

.is-visible .anim-square {
  transform: translateY(0);
}
.is-visible .anim-char {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.is-visible .anim-fade {
  opacity: 1;
  transform: translateY(0);
}

.anim-text,
.text-splitter {
  perspective: 100rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0 1rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  width: 100%;
}

.base-image__img--fade {
  opacity: 0;
  transition: opacity 0.4s;
}

.base-image__img--loaded {
  opacity: 1;
}

.parallax-asset {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.parallax-asset.parallax-asset--abs {
  position: absolute;
  left: 0;
  top: 0;
}
.parallax-asset .parallax-asset__wrapper {
  border-radius: 0.5rem;
  height: 100%;
  left: 0;
  position: relative;
  width: 100%;
}
.parallax-asset .parallax-asset__wrapper img,
.parallax-asset .parallax-asset__wrapper video {
  border-radius: 0.5rem;
}

.base-video {
  display: flex;
  position: relative;
}
.base-video.base-video--fit {
  height: 100%;
  width: 100%;
}
.base-video.base-video--fit video {
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
}
.base-video.base-video--loaded video {
  opacity: 1;
}
.base-video video {
  height: 100%;
  opacity: 0;
  width: 100%;
  transition: opacity 0.4s;
}

@media screen and (min-width: 992px) {
  .h1,
  h1 {
    font-size: 17.5rem;
    line-height: 1;
  }
  .h3,
  h3 {
    font-size: 3rem;
    line-height: 1.05;
  }
  .grid {
    grid-template-columns: repeat(12, 1fr);
    padding-left: 0.81081vw;
    padding-right: 0.81081vw;
    gap: 0 1.62162vw;
  }
  .parallax-asset.parallax-asset--abs .parallax-asset__wrapper {
    position: absolute;
  }
  .parallax-asset .parallax-asset__wrapper {
    bottom: -10%;
    height: 120%;
    top: -10%;
  }
}
.home-hero {
  color: #ffffff;
}
.home-hero .home-hero__title {
  position: relative;
  z-index: 1;
  align-items: flex-end;
  grid-template-rows: repeat(1, 1fr);
  height: calc(100svh - 22.2rem);
}
.home-hero .home-hero__title .home-hero__title-line:nth-child(1) {
  grid-column: 1/span 6;
  padding-top: 1.3rem;
}
.home-hero .home-hero__title .home-hero__title-line:nth-child(2) {
  grid-column: 1/span 2;
}
.home-hero .home-hero__title .home-hero__title-line:nth-child(3) {
  grid-column: 4/span 3;
}
.home-hero .home-hero__title-line {
  white-space: nowrap;
}
.home-hero .home-hero__title-line,
.home-hero .home-hero__title-line .home-hero__title-line-inner {
  position: relative;
  z-index: 1;
}
.home-hero .home-hero__square {
  position: absolute;
  left: -1rem;
  top: 0;
  width: calc(100% + 2rem);
}
.home-hero .home-hero__square.home-hero__square--black {
  z-index: -1;
}
.home-hero .home-hero__square.home-hero__square--black .home-hero__square-inner::before {
  background-color: #141414;
}
.home-hero .home-hero__square.home-hero__square--gradient .home-hero__square-inner::before {
  background: linear-gradient(90deg, #ed6339, #fa5ca6 42%, #eb7d2e);
}
.home-hero .home-hero__square .home-hero__square-inner {
  padding-bottom: 73.86667%;
}
.home-hero .home-hero__square .home-hero__square-inner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.home-hero .home-hero__date {
  position: relative;
  margin-top: 5rem;
}
.home-hero .home-hero__date .home-hero__title-line:nth-child(1) {
  grid-column: 1/span 3;
}
.home-hero .home-hero__date .home-hero__title-line:nth-child(2) {
  grid-column: 4/span 3;
}
.home-hero .home-hero__date .home-hero__title-line:nth-child(3) {
  grid-column: 1/span 6;
}
.home-hero .home-hero__date .home-hero-cta {
  position: relative;
  grid-column: 1/span 6;
  margin-top: 23.9rem;
}
.home-hero .home-hero__date .home-hero-cta .home-hero-cta__inner {
  position: relative;
  left: -1rem;
  right: -1rem;
  display: flex;
  flex-direction: column;
  width: calc(100% + 2rem);
}
.home-hero .home-hero__date .home-hero-cta .home-hero-cta__inner .home-hero-cta__fig-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: linear-gradient(137.82deg, #1974e8 3.56%, #2a28a5 98.56%);
  padding: 4.2rem 0 3.6rem;
}
.home-hero .home-hero__date .home-hero-cta .home-hero-cta__inner .home-hero-cta__fig-wrapper .home-hero-cta__fig {
  flex: 1;
  max-width: 29.5rem;
  mix-blend-mode: overlay;
}
.home-hero .home-hero__date .home-hero-cta .home-hero-cta__inner .home-hero-cta__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 16.8vw;
  overflow: hidden;
  margin-top: 40.5rem;
  color: #141414;
  font-size: 15.2vw;
  white-space: nowrap;
  perspective: 100rem;
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.home-hero .home-hero__date .home-hero-cta .home-hero-cta__inner .home-hero-cta__btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #141414;
  height: 100%;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s cubic-bezier(1, 0, 0.25, 0.995);
}
.home-hero .home-hero__date .home-hero-cta .home-hero-cta__inner .home-hero-cta__btn .home-hero-cta__btn-label {
  position: relative;
  z-index: 1;
}
@media (hover: hover) {
  .home-hero .home-hero__date .home-hero-cta .home-hero-cta__inner .home-hero-cta__btn:hover {
    color: #ffffff;
  }
  .home-hero .home-hero__date .home-hero-cta .home-hero-cta__inner .home-hero-cta__btn:hover::before {
    transform: scaleY(1);
    transform-origin: bottom;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
}
.home-hero .home-hero__date .home-hero-highlight {
  position: relative;
  grid-column: 1/span 6;
  padding: 1.4rem 0 2rem;
  height: 40.5rem;
  margin-top: calc(-40.5rem - 16.8vw);
  color: #999999;
}
.home-hero .home-hero__date .home-hero-highlight::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1rem;
  right: -1rem;
  top: 0;
  background-color: #141414;
}
.home-hero .home-hero__date .home-hero-highlight .home-hero__highlight-square {
  position: absolute;
  bottom: 0;
  right: 0;
  top: -50rem;
  display: none;
  width: 200%;
}
.home-hero .home-hero__date .home-hero-highlight .home-hero__highlight-square .home-hero__square-inner {
  height: 100%;
  padding-bottom: 0;
}
.home-hero .home-hero__date .home-hero-highlight .home-hero-highlight__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.home-hero .home-hero__date .home-hero-highlight .home-hero-highlight__wrapper .home-hero-highlight__title {
  max-width: 32rem;
}
.home-hero .home-hero__date .home-hero-highlight .home-hero-highlight__wrapper .home-hero-highlight__copy {
  max-width: 32.8rem;
}
.home-hero .home-hero__date .home-hero-video {
  grid-column: 1/span 6;
}
.home-hero .home-hero__date .home-hero-video .home-hero-video__wrapper {
  position: relative;
  height: 0;
  padding-bottom: 72.0339%;
}
.home-hero .home-hero__date .home-hero-video .home-hero-video__wrapper .home-hero-video__inner {
  position: absolute;
  bottom: 0;
  left: -1rem;
  right: -1rem;
  top: 0;
}

@media screen and (min-width: 768px) {
  .home-hero .home-hero__square .home-hero__square-inner {
    padding-bottom: 41.86667%;
  }
}
@media screen and (min-width: 992px) {
  .home-hero .home-hero__title {
    align-items: flex-end;
    grid-template-rows: repeat(1, 1fr);
    height: 100vh;
  }
  .home-hero .home-hero__title .home-hero__title-line:nth-child(1) {
    padding-top: 0;
  }
  .home-hero .home-hero__title .home-hero__title-line:nth-child(2) {
    grid-column: 1/span 5;
  }
  .home-hero .home-hero__title .home-hero__title-line:nth-child(3) {
    grid-column: 6/span 7;
  }
  .home-hero .home-hero__square {
    left: -0.81081vw;
    width: calc(100% + 1.62162vw);
  }
  .home-hero .home-hero__square .home-hero__square-inner {
    padding-bottom: 69.91525%;
  }
  .home-hero .home-hero__date {
    margin-top: 40rem;
  }
  .home-hero .home-hero__date .home-hero__title-line:nth-child(1) {
    grid-column: 1/span 5;
  }
  .home-hero .home-hero__date .home-hero__title-line:nth-child(2) {
    grid-column: 6/span 6;
  }
  .home-hero .home-hero__date .home-hero__title-line:nth-child(3) {
    grid-column: 1/span 5;
  }
  .home-hero .home-hero__date .home-hero-cta {
    margin-top: -17rem;
  }
  .home-hero .home-hero__date .home-hero-cta .home-hero-cta__inner {
    position: absolute;
    bottom: 0;
    left: -0.81081vw;
    right: -0.81081vw;
    top: 0;
    width: auto;
  }
  .home-hero .home-hero__date .home-hero-cta .home-hero-cta__inner .home-hero-cta__fig-wrapper {
    padding: 25.6rem 0 3.6rem;
  }
  .home-hero .home-hero__date .home-hero-cta .home-hero-cta__inner .home-hero-cta__fig-wrapper .home-hero-cta__fig {
    max-width: 55.6rem;
  }
  .home-hero .home-hero__date .home-hero-cta .home-hero-cta__inner .home-hero-cta__btn {
    font-size: 7.16216vw;
    height: auto;
    min-height: 8.10811vw;
    margin-top: 0;
  }
  .home-hero .home-hero__date .home-hero-highlight {
    height: auto;
    grid-column: 7/span 4;
    margin-top: -17rem;
  }
  .home-hero .home-hero__date .home-hero-highlight::after {
    left: -0.81081vw;
    right: -0.81081vw;
  }
  .home-hero .home-hero__date .home-hero-highlight .home-hero__highlight-square {
    display: block;
  }
  .home-hero .home-hero__date .home-hero-highlight .home-hero-highlight__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .home-hero .home-hero__date .home-hero-highlight .home-hero-highlight__wrapper .home-hero-highlight__copy {
    padding-top: 38.2rem;
  }
  .home-hero .home-hero__date .home-hero-video {
    grid-column: 7/span 6;
  }
  .home-hero .home-hero__date .home-hero-video .home-hero-video__wrapper {
    position: relative;
    height: 0;
    padding-bottom: 72.0339%;
  }
  .home-hero .home-hero__date .home-hero-video .home-hero-video__wrapper .home-hero-video__inner {
    left: -0.81081vw;
    right: -0.81081vw;
  }
}
.home-braindates {
  padding-bottom: 6.3rem;
}
.home-braindates .home-braindates__wrapper {
  grid-column: 1/span 6;
}
.home-braindates .home-braindates__wrapper .home-braindates__inner {
  position: relative;
  height: 0;
  padding-bottom: 157.1831%;
}
.home-braindates .home-braindates__wrapper .home-braindates__inner .home-braindates__content {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.2rem 1.1rem 2rem;
  width: 100%;
  color: #ffffff;
}
.home-braindates .home-braindates__wrapper .home-braindates__inner .home-braindates__content .home-braindates__title {
  max-width: 32.8rem;
}
.home-braindates .home-braindates__wrapper .home-braindates__inner .home-braindates__content .home-braindates__copy {
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
}
.home-braindates .home-braindates__wrapper .home-braindates__inner .home-braindates__content .home-braindates__copy p {
  max-width: 31.6rem;
}
.home-braindates .home-braindates__wrapper .home-braindates__inner .home-braindates__video {
  overflow: hidden;
}
.home-braindates .home-braindates__wrapper .home-braindates__inner .home-braindates__video, .home-braindates .home-braindates__wrapper .home-braindates__inner .home-braindates__video::after {
  border-radius: 0.5rem;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.home-braindates .home-braindates__wrapper .home-braindates__inner .home-braindates__video::after {
  content: "";
  background: linear-gradient(0deg, rgba(37, 37, 37, 0.3), rgba(37, 37, 37, 0.3));
}

@media screen and (min-width: 768px) {
  .home-braindates .home-braindates__wrapper .home-braindates__inner {
    padding-bottom: 97.13542%;
  }
}
@media screen and (min-width: 992px) {
  .home-braindates {
    padding-bottom: 2.5rem;
  }
  .home-braindates .home-braindates__wrapper {
    grid-column: 1/span 12;
  }
  .home-braindates .home-braindates__wrapper .home-braindates__inner {
    padding-bottom: 53.63048%;
  }
  .home-braindates .home-braindates__wrapper .home-braindates__inner .home-braindates__content {
    padding: 1.5rem 1.5rem 5.6rem;
  }
  .home-braindates .home-braindates__wrapper .home-braindates__inner .home-braindates__content .home-braindates__copy {
    -moz-column-gap: 2.3rem;
    column-gap: 2.3rem;
    flex-direction: row;
    row-gap: normal;
  }
  .home-braindates .home-braindates__wrapper .home-braindates__inner .home-braindates__content .home-braindates__copy p {
    max-width: 31.6rem;
  }
}
.home-stats {
  row-gap: 6rem;
  overflow: hidden;
  padding-bottom: 3rem;
  padding-top: 2.2rem;
}
.home-stats .home-stats-item {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: 1/span 6;
  color: #ffffff;
}
.home-stats .home-stats-item:not(:last-child):after {
  content: "";
  position: absolute;
  bottom: -3rem;
  left: -1rem;
  background-color: currentColor;
  height: 0.1rem;
  mix-blend-mode: overlay;
  right: -1rem;
}
.home-stats .home-stats-item .home-stats-item__title {
  display: flex;
  flex-direction: column;
  padding-bottom: 7.8rem;
  line-height: 0.85;
}
.home-stats .home-stats-item .home-stats-item__title .home-stats-item__line {
  white-space: nowrap;
}
.home-stats .home-stats-item .home-stats-item__copy {
  max-width: 32.8rem;
  transition-delay: 0.3s;
}

@media screen and (min-width: 992px) {
  .home-stats {
    row-gap: 6.7rem;
    padding-top: 2.5rem;
  }
  .home-stats .home-stats-item {
    justify-content: space-between;
    flex-direction: row;
    grid-column: 1/span 12;
  }
  .home-stats .home-stats-item:not(:last-child):after {
    bottom: -3.7rem;
    left: -0.81081vw;
    right: -0.81081vw;
  }
  .home-stats .home-stats-item .home-stats-item__title {
    padding-bottom: 0;
  }
  .home-stats .home-stats-item .home-stats-item__title .home-stats-item__line {
    white-space: nowrap;
  }
  .home-stats .home-stats-item .home-stats-item__copy {
    position: absolute;
    right: 0;
    top: 0;
  }
}
body {
  background-color: rosybrown;
}

.content-wrapper {
  margin-top: 6rem;
  position: relative;
}

@media screen and (min-width: 992px) {
  .content-wrapper {
    margin-right: 6rem;
    margin-top: 0;
  }
}