@import "shared/all-shared";
@import "c2mtl-components/all-c2mtl";

.content-wrapper {
  margin-top: 6rem;
  position: relative;
}

@include for-size("lg") {
  .content-wrapper {
    margin-right: 6rem;
    margin-top: 0;
  }
}
